body {
    background-image: url(../images/seamless_paper_texture.png);
    background-repeat: repeat;
    font-family: 'Varela', sans-serif;

}


.navbar {
    font-size: 300%;
    text-align: center;
    font-family: 'Nova Square', cursive;

}

